# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/CACHE/

# Environment variables
env.py
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Heroku
*.pid
*.ps1

# Cloudinary
cloudinary.json

# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/
